/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

  body {
    font-family: 'Ubuntu', sans-serif;
  }

 #letters {
  list-style: none;
 }

 .letter {
  background-color: #417cd6;
  color: white;
  font-weight: bold;
  font-size: 30px;
  /* border: 2px solid #0795f3; */
  padding: 5px 20px 5px 20px;
  margin: 10px;
  box-shadow: 5px 5px 10px 1px rgb(173, 171, 171);
 }

 #input-form {
  width: 500px;
  margin-right: 20px;
 }

 a {
  text-decoration: none;
 }
